<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<body>
<div layout:fragment="banner(bannerTitle, bannerImageUri)">
   <div class="card heroBanner" th:style="'background-image:  url(&quot;/images/'+${bannerImageUri ?: 'main'}+'-banner.jpg&quot;);'">
      <div layout:fragment="textOverlay"></div>
   </div>
   <div class="container">
      <div class="container">
         <div layout:insert="~{layouts/info::card}" th:with="classes='boxShadow',yOffset='-50px'">
            <div layout:fragment="content">
               <h1 class="text-center">
                  <strong class="text-dark" th:text="${bannerTitle}"></strong>
               </h1>
            </div>
         </div>
      </div>
   </div>
</div>

<div layout:fragment="card" th:with="color=${color ?: '--primary'}" th:class="'card'+${!#strings.isEmpty(classes) ? ' '+classes : ''}" th:style="${#strings.isEmpty(yOffset) ? '' : 'transform:translateY('+yOffset+');'}+' border-top: solid 3px var('+${color}+');'">
   <div class="row no-gutters">
      <div th:if="${!#strings.isEmpty(imageUrl)}" class="col-12 cardImageContainer blendedCardImage my-auto">
         <img class="mw-100" th:src="${imageUrl}">
      </div>
      <div class="col col-12 cardInfoContainer">
         <div th:class="'card-body ' +${#strings.isEmpty(imageUrl) ? '' : 'blendedCardContainer blendedCard'}">
            <th:block th:if="${!#strings.isEmpty(fontawesomeClass)}">
               <div layout:insert="~{layouts/info::icon(${fontawesomeClass})}">
                  <strong layout:fragment="label">
                     <span th:if="${!#strings.isEmpty(label)}" th:utext="${label}"></span>
                  </strong>
               </div>
            </th:block>
            <small th:if="${!#strings.isEmpty(description)}" th:utext="${description}"></small>
            <span th:if="${!#strings.isEmpty(text)}" th:utext="${text}"></span>
            <div th:if="${!#strings.isEmpty(actionButtonURL) && !#strings.isEmpty(actionButtonText)}" th:with="fontawesomeClass=${actionButtonFontawesomeClass ?: 'fa-arrow-up-right-from-square'}, target='_blank'" class="float-right mb-2">
               <i th:replace="~{fragments/button::action(${actionButtonURL}, ${actionButtonText})}"></i>
            </div>
            <div layout:fragment="content"></div>
         </div>
      </div>
      <div class="col cardGiveLivelyContainer p-2" th:if="${!#strings.isEmpty(giveLivelyDonationURL)}">
         <!-- Begin Give Lively Fundraising Widget -->
         <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/
            gl=document.createElement('script');gl.src=[[${giveLivelyDonationURL}]];document.getElementsByTagName('head')[0].appendChild(gl);
            /*]]>*/
         </script>
         <div id="give-lively-widget" class="gl-simple-donation-widget"></div>
         <!-- End Give Lively Fundraising Widget -->
         <div class="text-center" th:if="${!#strings.isEmpty(giveLivelyDonationText)}">
            <small class="d-inline-block" th:text="${giveLivelyDonationText}"></small>
         </div>
      </div>
   </div>
</div>

<div layout:fragment="icon(fontawesomeClass)" class="align-content-center" th:with="href=${href ?: ''}">
   <a th:remove="${ #strings.isEmpty(href) ? 'tag' : 'none' }" th:href="${href}">
      <div>
         <h1 th:remove="${ #strings.isEmpty(href) ? 'tag' : 'none' }" class="float-right text-primary ml-3 mb-0 fas fa-chevron-right d-inline-block d-md-none"></h1>
         <h1 class="float-left text-danger mr-3 mb-0">
            <i th:class="${#strings.startsWith(fontawesomeClass, 'fab ') ? fontawesomeClass : ('fas ' + fontawesomeClass)}"></i>
         </h1>
         <div layout:fragment="label"></div>
      </div>
   </a>
</div>

<div layout:fragment="cardView" class="container my-4 cardViewContainer">
   <div class="d-none d-sm-inline-block w-100">
      <span class="float-right text-secondary">
         <a class="displayInColumnsButton viewButton btn btn-sm border-0 text-primary" title="Column view">
            <i class="fas fa-columns"></i>
         </a>
         <a class="displayInRowsButton viewButton btn btn-sm border-0" title="List view">
            <i class="fas fa-align-left"></i>
         </a>
      </span>
   </div>
   <div class="displayCards card-columns">
      <div layout:fragment="cards"></div>
   </div>
</div>
</body>
</html>