<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<a th:fragment="action(href, text)"
   th:with="fontawesomeClass=${fontawesomeClass ?: ''},isPrimary=${isPrimary ?: false},isLarge=${isLarge ?: false},downloadFileName=${downloadFileName ?: ''},target=${target ?: '_self'}"
   th:class="'btn m-1 ' + ${isPrimary ? 'btn-primary' : 'btn-danger'} + ' ' + ${isLarge ? 'btn-lg' : ''}+${href == '#' ? 'disabled' : ''}"
   th:href="${href}"
   th:target="${target}"
   th:attr="download=${!#strings.isEmpty(downloadFileName)}?${downloadFileName}">
   <i th:if="${!#strings.isEmpty(fontawesomeClass)}" th:class="${#strings.startsWith(fontawesomeClass, 'fab ') ? fontawesomeClass : ('fas ' + fontawesomeClass)}"></i>
   <strong class="text-white" th:text="${text}"></strong>
</a>
</body>
</html>