<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer(activeTab)" class="text-dark pb-3">
   <div class="container">
      <script async th:src="'https://cse.google.com/cse.js?cx=009109186331168666000:'+${#locale.language == 'es' ? 'nywmiziagwz' : 'hc8xpk2v2kh'}"></script>
      <div class="gcse-search"></div>
      <h3 th:insert="fragments/socialMedia::buttons(colorClass='text-secondary')" class="float-right pt-2"></h3>
      <i th:replace="fragments/navbar::header(activeTab=${activeTab}, footer=true)"></i>
      <hr/>
      <div class="text-center text-secondary">
         <small th:text="#{photoCreds}">Photo creds</small>
         <br/>
         <div class="w-100 text-center">
            <a href="http://kairos.photography" class="text-primary" target="_blank">
               <img th:src="@{/images/kairos-logo.png}"
                    height="75px"
                    alt="Kairos Photography">
               <br/>
               Kairos Photography
            </a>
         </div>
      </div>
      <hr/>
      <small class="text-center d-block" th:text="'Copyright © '+${#dates.createNow().year + 1900}+' El Puente Hispanic Services Center, All Rights Reserved.'">
         Copyright
      </small>
   </div>
</footer>
</body>
</html>