<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta http-equiv="content-language" th:content="${#locale.language}">

   <th:block th:if="${!#strings.isEmpty(T(org.elpuentesearcy.configuration.Properties).get().getGoogle().getAnalytics().getTrackingId())}">
      <script async th:src="'https://www.googletagmanager.com/gtag/js?id='+${T(org.elpuentesearcy.configuration.Properties).get().getGoogle().getAnalytics().getTrackingId()}"></script>
      <script th:inline="javascript">
         /*<![CDATA[*/
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', [[${T(org.elpuentesearcy.configuration.Properties).get().getGoogle().getAnalytics().getTrackingId()}]]);
         /*]]>*/
      </script>

      <!--<script th:inline="javascript">-->
         <!--window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;-->
         <!--ga('create', [[${T(org.elpuentesearcy.configuration.Properties).get().getGoogle().getAnalytics().getTrackingId()}]], 'auto');-->
         <!--ga('send', 'pageview');-->
      <!--</script>-->
      <!--<script async src='https://www.google-analytics.com/analytics.js'></script>-->
   </th:block>

   <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
   <link rel="manifest" href="/static/site.webmanifest">
   <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#6ba6cb">
   <meta name="apple-mobile-web-app-title" content="El Puente">
   <meta name="application-name" content="El Puente">
   <meta name="msapplication-TileColor" content="#6ba6cb">
   <meta name="theme-color" content="#ffffff">

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <link rel="stylesheet" th:href="@{/css/custom.css}">
   <link rel="stylesheet" th:href="@{'/css/main.css?v='+__${T(org.elpuentesearcy.configuration.Properties).get().getVersion()}__}">
   <style>
      .carousel-caption {
         text-shadow: 0 0 4px #000000;
      }
   </style>
</head>
<body th:fragment="scripts">
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
   <script th:src="@{'/js/main.js?v='+__${T(org.elpuentesearcy.configuration.Properties).get().getVersion()}__}"></script>
</body>
</html>