<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="navContainer" th:fragment="header(activeTab)" th:with="footer=${footer ?: false}, prodMode=${#arrays.contains(@environment.getActiveProfiles(),'production')}" th:class="${footer ? '' : 'fixed-top bg-white decoratedNav'}">
   <div th:class="${footer ? '' : 'container'}">
      <nav class="navbar navbar-light p-0 navbar-expand-lg">
         <a class="navbar-brand pb-0" th:href="@{/}">
            <img th:unless="${footer}" id="navLogo" th:src="${'/images/logo_'+(#locale.language == 'es' ? 'es' : 'en')+(prodMode?'':'_beta')+'.png'}" th:alt="${'EL PUENTE'+(prodMode?'':' BETA')}">
            <img th:if="${footer}" th:src="${'/images/logo-small'+(prodMode?'':'-beta')+'.png'}" th:alt="${'EL PUENTE'+(prodMode?'':' BETA')}" width="50px">
         </a>
         <button class="navbar-toggler text-danger border-0" style="font-size: 2em; outline: none;" type="button" data-toggle="collapse" th:attr="data-target='#navbarSupportedContent'+${footer},aria-controls='navbarSupportedContent'+${footer}" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-ellipsis-v"></i>
         </button>
         <div class="collapse navbar-collapse" th:id="'navbarSupportedContent'+${footer}">
            <ul th:class="'navbar-nav '+${footer ? 'mx-auto' : 'ml-auto'}">
               <li class="nav-item">
                  <i th:replace="~{fragments/navlink::link( #{home.navlink}, ${activeTab}, '/' )}">Home</i>
               </li>
               <li class="nav-item">
                  <i th:replace="~{fragments/navlink::link( #{aboutUs.navlink}, ${activeTab}, ${@aboutUsController.getUrlBase(#locale.language)} )}">About Us</i>
               </li>
               <li class="nav-item">
                  <i th:replace="~{fragments/navlink::link( #{services.navlink}, ${activeTab}, ${@servicesController.getUrlBase(#locale.language)} )}">Services</i>
               </li>
               <li class="nav-item">
                  <i th:replace="~{fragments/navlink::link( #{programs.navlink}, ${activeTab}, ${@programsController.getUrlBase(#locale.language)} )}">Programs</i>
               </li>
               <li class="nav-item" th:if="${!#strings.isEmpty(@properties.facebookUrl)}" th:with="target='_blank'">
                  <i th:replace="~{fragments/navlink::link( #{news.navlink}, ${activeTab}, ${@properties.facebookUrl} )}">News</i>
               </li>
               <li class="nav-item">
                  <i th:replace="~{fragments/navlink::link( #{getInvolved.navlink}, ${activeTab}, ${@getInvolvedController.getUrlBase(#locale.language)} )}">Get Involved</i>
               </li>
               <li class="nav-item">
                  <i th:replace="~{fragments/navlink::link( #{resources.navlink}, ${activeTab}, ${@resourcesController.getUrlBase(#locale.language)} )}">Resources</i>
               </li>
               <li class="nav-item">
                  <i th:replace="~{fragments/navlink::link( #{events.navlink}, ${activeTab}, ${@eventsController.getUrlBase(#locale.language)} )}">Events</i>
               </li>
               <li class="nav-item">
                  <i th:replace="~{fragments/navlink::link( #{contactUs.navlink}, ${activeTab}, ${@contactUsController.getUrlBase(#locale.language)} )}">Contact Us</i>
               </li>
               <th:block th:unless="${prodMode}">
                  <i th:replace="~{fragments/navlink::betaLink( #{changes.navlink}, ${activeTab}, ${@changesController.getUrlBase(#locale.language)} )}">Changes</i>
               </th:block>
            </ul>
         </div>
      </nav>
   </div>
</div>
</body>
</html>