<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header" th:with="footer=${footer ?: false}, isTestMode=${T(org.elpuentesearcy.configuration.Properties).get().isTestMode()}" th:class="${footer ? '' : 'container'}">
   <nav th:class="'navbar navbar-light bg-light py-0 '+${footer ? 'navbar-expand' : 'navbar-expand-md'}">
      <a class="navbar-brand" th:href="@{/}">
         <img th:unless="${footer}" th:src="${'/images/logo_'+(#locale.language == 'es' ? 'es' : 'en')+(isTestMode?'_beta':'')+'.png'}" th:alt="${'EL PUENTE'+(isTestMode?' BETA':'')}" class="navLogo">
         <img th:if="${footer}" th:src="${'/images/logo-small'+(isTestMode?'-beta':'')+'.png'}" th:alt="${'EL PUENTE'+(isTestMode?' BETA':'')}" width="50px">
      </a>
      <button class="navbar-toggler text-danger border-0" style="font-size: 2em; outline: none;" type="button" data-toggle="collapse" th:attr="data-target='#navbarSupportedContent'+${footer},aria-controls='navbarSupportedContent'+${footer}" aria-expanded="false" aria-label="Toggle navigation">
         <i class="fas fa-ellipsis-v"></i>
      </button>
      <div class="collapse navbar-collapse" th:id="'navbarSupportedContent'+${footer}">
         <ul th:class="'navbar-nav '+${footer ? 'mx-auto' : 'ml-auto'}">
            <li class="nav-item">
               <a th:replace="fragments/navlink::link( #{labels.home}, '/' )">Home</a>
            </li>
            <li class="nav-item">
               <a th:replace="fragments/navlink::link( #{labels.about}, '/about' )">About Us</a>
            </li>
<!--            <li class="nav-item">-->
<!--               <a th:replace="fragments/navlink::link( #{labels.events}, '/' )">Events</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--               <a th:replace="fragments/navlink::link( #{labels.donations}, '/' )">Donations</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--               <a th:replace="fragments/navlink::link( #{labels.contactUs}, '/contact' )">Contact Us</a>-->
<!--            </li>-->
            <li class="nav-item" th:if="${isTestMode}">
               <a th:replace="fragments/navlink::betaLink( #{labels.changes}, '/changes' )">Changes</a>
            </li>
         </ul>
      </div>
   </nav>
</div>
</body>
</html>