.viewButton:hover {
   color: var(--primary)!important;
}

.blendedCardImage {
   max-width: 100%;
   width: 800px;
   margin: auto;
}

.blendedCardImage::after {
   display: block;
   position: relative;
   background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
   margin-top: -90px;
   height: 90px;
   width: 100%;
   content: '';
}

.blendedCard {
   padding-top: 0;
   top: -15px;
   position :relative;
}