:root {
   --column-count: 1;
}

.card-columns {
   -webkit-column-count: var(--column-count);
   -moz-column-count: var(--column-count);
   column-count: var(--column-count);
}

@media (min-width: 576px) {
   :root {
      --column-count: 2;
   }
}

@media (min-width: 992px) {
   :root {
      --column-count: 3;
   }
}