:root {
   --body-font-size: 0.9rem;
   --h1-font-size: 1.6rem;
   --h2-font-size: 1.6rem;
   --h3-font-size: 1.4rem;
   --nav-logo-height: 55px;
}

@media (min-width: 576px) {
   :root {
      --body-font-size: 0.95rem;
      --h1-font-size: 2rem;
      --h2-font-size: 1.8rem;
      --h3-font-size: 1.6rem;
   }
}

@media (min-width: 768px) {
   :root {
      --body-font-size: 1rem;
      --h1-font-size: 2.5rem;
      --h2-font-size: 2rem;
      --h3-font-size: 1.75rem;
      --nav-logo-height: 112px;
   }
}

@media (min-width: 992px) {
   :root {
      --body-font-size: 1.125rem;
   }
}

@media (min-width: 1200px) {
   :root {
      --nav-logo-height: 160px;
   }
}

body {
   line-height: 1.5;
   margin: 0;
   background-color: var( --light );
   font-size: var( --body-font-size );
}

main {
   padding-top: var(--nav-logo-height);
}

h1 {
   font-size: var(--h1-font-size);
}
h2 {
   font-size: var(--h2-font-size);
}
h3 {
   font-size: var(--h3-font-size);
}

#navLogo {
   height: var(--nav-logo-height);
}

.decoratedNav {
   border-bottom: solid 2px var(--primary);
}

.smallNavLogo {
   height: 55px!important;
}

#navLogo {
   transition: 0.4s;
}

.heroBanner {
   background-color: var( --danger );
   height: 350px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.hoverPointer {
   cursor: pointer;
}

.boxShadow {
   box-shadow: 0 12px 28px -9px #69757a;
   -webkit-box-shadow: 0 12px 28px -9px #69757a;
   -moz-box-shadow: 0 12px 28px -9px #69757a;
}

.header {
   background: linear-gradient(90deg,#d5d9db,#d5d9db) 50%/100% 2px no-repeat;
}

.carousel-caption {
   text-shadow: 0 0 4px #000000;
}

a:hover {
   text-decoration: none;
}

a.facebook:hover {
   color: #4267B2!important;
}

a.twitter:hover {
   color: #1DA1F2!important;
}

a.instagram {
   display: inline-block;
   padding: 0 3px;
   border-radius: .25rem!important;
}

a.instagram:hover {
   color: #fff !important;
   background: #d6249f;
   background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.nav-link span {
   -webkit-transition: border-bottom-width 200ms;
   -moz-transition: border-bottom-width 200ms;
   -o-transition: border-bottom-width 200ms;
   transition: border-bottom-width 200ms;
}

.nav-link span:hover {
   border-bottom: 3px solid var(--primary);
}

footer {
   border-top: 1rem solid var(--primary);
}

.banner-primary {
   height: 5rem;
   background: linear-gradient(to right, var(--primary) 50%, var(--primary) 50%);
}

.banner-danger {
   height: 5rem;
   background: linear-gradient(to right, var(--danger) 50%, var(--danger) 50%);
}