body {
   line-height: 1.5;
   margin: 0;
   background-color: var( --light );
}

@media (min-width: 0px) {
   body {
      font-size: 0.9rem;
   }
   h1 {
      font-size: 1.6rem;
   }
   h2 {
      font-size: 1.5rem;
   }
   h3 {
      font-size: 1.4rem;
   }

   .navLogo {
      width: 200px;
   }
}

@media (min-width: 576px) {
   body {
      font-size: 0.95rem;
   }
   h1 {
      font-size: 2rem;
   }
   h2 {
      font-size: 1.8rem;
   }
   h3 {
      font-size: 1.6rem;
   }

   .navLogo {
      width: 250px;
   }
}

@media (min-width: 768px) {
   body {
      font-size: 1rem;
   }
   h1 {
      font-size: 2.5rem;
   }
   h2 {
      font-size: 2rem;
   }
   h3 {
      font-size: 1.75rem;
   }

   .navLogo {
      width: 200px;
   }
}

@media (min-width: 992px) {
   body {
      font-size: 1.125rem;
   }
}

@media (min-width: 1200px) {
   .navLogo {
      width: 300px;
   }
}

.hoverPointer {
   cursor: pointer;
}

.boxShadow {
   box-shadow: 0 12px 28px -9px #69757a;
   -webkit-box-shadow: 0 12px 28px -9px #69757a;
   -moz-box-shadow: 0 12px 28px -9px #69757a;
}

.header {
   background: linear-gradient(90deg,#d5d9db,#d5d9db) 50%/100% 2px no-repeat;
}

.carousel-caption {
   text-shadow: 0 0 4px #000000;
}

a:hover {
   text-decoration: none;
}

a.facebook:hover {
   color: #4267B2!important;
}

a.twitter:hover {
   color: #1DA1F2!important;
}

.nav-link span {
   -webkit-transition: border-bottom-width 200ms;
   -moz-transition: border-bottom-width 200ms;
   -o-transition: border-bottom-width 200ms;
   transition: border-bottom-width 200ms;
}

.nav-link span:hover {
   border-bottom: 3px solid var(--primary);
}

footer {
   border-top: 1rem solid var(--primary);
}

.banner-primary {
   height: 5rem;
   background: linear-gradient(to right, var(--primary) 50%, var(--primary) 50%);
}

.banner-danger {
   height: 5rem;
   background: linear-gradient(to right, var(--danger) 50%, var(--danger) 50%);
}