.heroBanner {
   background-image: url("/images/main-banner.jpg");
}

:root {
   --mission-statement-width: 40%;
}

@media (min-width: 0px) {
   :root {
      --mission-statement-width: 100%;
   }
}
@media (min-width: 576px) {
   :root {
      --mission-statement-width: 100%;
   }
}
@media (min-width: 768px) {
   :root {
      --mission-statement-width: 38%;
   }
}
@media (min-width: 992px) {
   :root {
      --mission-statement-width: 44%;
   }
}
@media (min-width: 1200px) {
   :root {
      --mission-statement-width: 45%;
   }
}

#missionStatement {
   width: var(--mission-statement-width);
}