<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="uri=${@aboutUsController.getUrlBase(#locale.language)}, englishUri=${@aboutUsController.getUrlBase('en')}">
<head>
   <th:block th:insert="~{fragments/includes::head(${uri})}"></th:block>

   <title th:text="#{aboutUs.title}">About Us</title>
   <!--<meta property="og:url" content="">-->
   <meta property="og:title" th:content="#{aboutUs.title}">
   <meta property="og:description" th:content="#{aboutUs.aboutUs.content}">
   <link rel="stylesheet" th:href="@{'/css/aboutUs.css?v='+__${@properties.version}__}">
</head>
<body>
<i th:replace="~{fragments/navbar::header(#{aboutUs.navlink})}"></i>
<main role="main">
   <i layout:replace="~{layouts/info::banner(#{aboutUs.aboutUs.header}, ${englishUri})}"></i>

   <p class="container mb-5" th:utext="#{aboutUs.aboutUs.content}"></p>

   <i th:replace="~{fragments/employeeCards::cards(employees=${staff}, header=#{contactUs.staff}, subheader=#{aboutUs.meetTheStaff})}">
      Staff Cards
   </i>

   <i th:replace="~{fragments/employeeCards::cards(employees=${boardOfDirectors}, header=#{aboutUs.boardOfDirectors})}">
      Board Cards
   </i>

   <i th:replace="~{fragments/sectionHeader::header(#{aboutUs.history.header})}"></i>

   <p class="container mb-5 font-weight-bold" th:utext="#{aboutUs.history.content}"></p>

   <div class="container mb-5">
      <div class="row">
         <div class="col">
            <div class="float-left text-center mb-2 mr-4" style="position: relative; left: -10px">
               <img th:src="@{'/images/Ruth-headshot.jpg'}" class="float-left rounded-circle shadow" alt="Ruth Simpson, Assistant Director" title="Ruth Simpson, Assistant Director" height="150px">
               <h2 class="mb-2 font-weight-bolder font-italic" th:utext="#{aboutUs.history.story.header}" style="font-family: 'Bradley Hand ITC', cursive;"></h2>
            </div>
            <p th:utext="#{aboutUs.history.story.content1}"></p>
            <p th:utext="#{aboutUs.history.story.content2}"></p>
            <p th:utext="#{aboutUs.history.story.content3}"></p>
            <p th:utext="#{aboutUs.history.story.content4}"></p>
            <p th:utext="#{aboutUs.history.story.content5}"></p>
            <p th:utext="#{aboutUs.history.story.content6}"></p>
            <p th:utext="#{aboutUs.history.story.content7}"></p>
            <p th:utext="#{aboutUs.history.story.content8}"></p>
            <p th:utext="#{aboutUs.history.story.content9}"></p>
            <p th:utext="#{aboutUs.history.story.content10}"></p>
            <p th:utext="#{aboutUs.history.story.content11}"></p>
            <p class="float-right font-italic">Ruth Simpson</p>
         </div>
      </div>
   </div>

   <i th:replace="~{fragments/footer::footer(#{aboutUs.navlink})}"></i>
</main>

<!--/*/ <th:block th:insert="~{fragments/includes::scripts}"></th:block> /*/-->
</body>
</html>