<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="properties=${T(org.elpuentesearcy.configuration.Properties).get()}">
<head>
   <!--/*/ <th:block th:include="fragments/includes::head"></th:block> /*/-->

   <title th:text="#{about.title}">About Us</title>
   <link rel="stylesheet" th:href="@{'/css/cardColumns.css?v='+__${properties.version}__}">
</head>
<body>
<main role="main">
   <div th:replace="fragments/navbar::header(#{about.navlink})">
      Header
   </div>

   <h1 th:replace="fragments/sectionHeader::header(#{about.aboutUs.header})">
      about us
   </h1>

   <p class="container" th:utext="#{about.aboutUs.content}"></p>

   <h1 th:replace="fragments/sectionHeader::header(#{about.history.header})">
      history
   </h1>

   <p class="container mb-5" th:utext="#{about.history.content}"></p>

   <div th:replace="fragments/employeeCards::cards(employees=${boardOfDirectors}, header=#{about.boardOfDirectors}, subheader=#{about.meetTheBoard})">
      Board Cards
   </div>

   <div th:replace="fragments/employeeCards::cards(employees=${staff}, header=#{contact.staff})">
      Staff Cards
   </div>

   <footer th:insert="fragments/footer::footer(#{about.navlink})" th:remove="tag">
      Footer
   </footer>
</main>

<!--/*/ <th:block th:include="fragments/includes::scripts"></th:block> /*/-->
</body>
</html>