<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="properties=${T(org.elpuentesearcy.configuration.Properties).get()}">
<head>
   <!--/*/ <th:block th:include="fragments/includes::head"></th:block> /*/-->

   <title th:text="#{changes.title}">Title</title>
   <link rel="stylesheet" th:href="@{'/css/changes.css?v='+__${properties.version}__}">
</head>
<body>
<main role="main">
   <div class="container">
      <div th:replace="fragments/navbar::header">
         Header
      </div>
   </div>

   <h1 th:replace="fragments/sectionHeader::header(#{changes.changes}+' ('+${properties.version}+')')">
      Changes
   </h1>

   <form id="initialsContainer" class="form-inline justify-content-center my-5">
      <div class="form-group mx-sm-3">
         <label for="initials">Approval Initials:</label>
         <input type="text" class="form-control ml-2" id="initials" placeholder="Initials" style="width: 100px;">
      </div>
      <button class="btn btn-danger" onclick="showChanges( $('#initials').val() ); return false;">
         <i class="fas fa-share"></i>
         See Changes
      </button>
   </form>

   <div id='changesContainer' class="blockedOnDisconnect container pb-5 px-3 card-columns">
      <div class="mb-5 d-flex justify-content-center">
         <span class="mt-2">
            Approving as:&nbsp;<strong id="initialsDisplay"></strong>
         </span>
         <button class="btn btn-danger ml-2" onclick="enterInitials();">
            <i class="fas fa-edit"></i>
            Edit
         </button>
      </div>
      <div id="changesList">
         <span class="text-center">No Changes!</span>
      </div>
   </div>

   <h1 th:replace="fragments/sectionHeader::header(#{changes.submitRequest})">
      Submit a Request
   </h1>
   <div class="text-center">
      <iframe th:src="'https://docs.google.com/forms/d/e/1FAIpQLScuYV0CMvL30BWD6YVKvx6ppN0XljZTItC7VNmCjdgb1xrkRg/viewform?embedded=true&hl='+${#locale.language}" width="640" height="400" frameborder="0" marginheight="0" marginwidth="0" th:text="#{changes.loading}+'...'">Loading...</iframe>
   </div>

   <footer th:insert="fragments/footer::footer" th:remove="tag">
      Footer
   </footer>
</main>

<!--/*/ <th:block th:include="fragments/includes::scripts"></th:block> /*/-->
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js" integrity="sha256-9Nt2r+tJnSd2A2CRUvnjgsD+ES1ExvjbjBNqidm9doI=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.js"></script>
<script th:src="@{'/js/cookieHelper.js?v='+__${properties.version}__}"></script>
<script th:src="@{'/js/websockets.js?v='+__${properties.version}__}"></script>
<script th:src="@{'/js/changes.js?v='+__${properties.version}__}"></script>
</body>