<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="uri=${@changesController.URL_BASE}">
<head>
   <th:block th:insert="~{fragments/includes::head(${uri})}"></th:block>

   <title th:text="#{changes.title}">Title</title>
   <link rel="stylesheet" th:href="@{'/css/changes.css?v='+__${@properties.version}__}">
</head>
<body>
<i th:replace="~{fragments/navbar::header(#{changes.navlink})}"></i>
<main role="main">
   <i th:replace="~{fragments/sectionHeader::header(#{changes.changes}+' ('+${@properties.version}+')')}"></i>

   <div class="container">
      <th:block th:if="${#lists.isEmpty(trelloCards)}">
         <div class="text-center mb-5">
            <div class="mb-3">
               No changes found. Add some work to the Trello board:
            </div>
            <blockquote class="trello-board-compact">
               <a href="https://trello.com/b/HFKMKE3L">Trello Board</a>
            </blockquote>
         </div>
      </th:block>
      <th:block th:if="${!#lists.isEmpty(trelloCards)}">
         <blockquote class="trello-card" th:each="trelloCard:${trelloCards}">
            <a th:href="${trelloCard.url}" th:text="${trelloCard.name}"></a>
         </blockquote>

         <div class="text-center m-5">
            <div id="goLiveButton" class="btn btn-success btn-lg">
               <i class="fas fa-cloud"></i>
               Go Live
               <div class="spinner-border text-light d-none" role="status">
                  <span class="sr-only">Loading...</span>
               </div>
            </div>
         </div>
      </th:block>
   </div>

   <i th:replace="~{fragments/footer::footer(#{changes.navlink})}"></i>
</main>

<!--/*/ <th:block th:insert="~{fragments/includes::scripts}"></th:block> /*/-->
<script th:src="@{'/js/changes.js?v='+__${@properties.version}__}"></script>
<script src="https://p.trellocdn.com/embed.min.js"></script>
</body>