<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="uri=${@contactUsController.getUrlBase(#locale.language)}, englishUri=${@contactUsController.getUrlBase('en')}">
<head>
   <th:block th:insert="~{fragments/includes::head(${uri})}"></th:block>
   <link rel="stylesheet" th:href="@{'/css/contactUs.css?v='+__${@properties.version}__}">

   <title th:text="#{contactUs.title}">Title</title>
   <!--<meta property="og:url" content="">-->
   <meta property="og:title" th:content="#{contactUs.title}">
   <meta property="og:description" th:content="#{contactUs.contactUs}">
</head>
<body>
<i th:replace="~{fragments/navbar::header(#{contactUs.navlink})}"></i>
<main role="main">
   <i layout:replace="~{layouts/info::banner(#{contactUs.contactUs}, ${englishUri})}"></i>

   <div class="container">
      <div class="row">
         <div class="col-12 col-lg-8 mb-3">
            <div layout:insert="~{layouts/info::card}">
               <div layout:fragment="content" th:remove="tag">
                  <th:block th:if="${!#lists.isEmpty(@properties.physicalAddress)}">
                     <div layout:insert="~{layouts/info::icon('fa-map-marker-alt')}" class="hoverPointer" th:attr="addressUrlLine=${addressUrlLine}" onclick="mapsSelector( this )">
                        <span layout:fragment="label" class="text-dark">
                           <th:block th:each="line:${@properties.physicalAddress}">
                              <strong th:text="${line}">Line</strong>
                              <br/>
                           </th:block>
                           <small class="text-secondary font-italic" th:text="#{contactUs.mailNotice}">
                              Don't mail here!
                           </small>
                        </span>
                     </div>
                  </th:block>
                  <th:block th:if="${!#lists.isEmpty(@properties.mailingAddress)}">
                     <hr th:if="${!#lists.isEmpty(@properties.physicalAddress)}"/>
                     <div layout:insert="~{layouts/info::icon('fa-envelope-square')}">
                        <strong layout:fragment="label" class="text-dark">
                           <th:block th:each="line:${@properties.mailingAddress}">
                              <span th:text="${line}">Line</span>
                              <br/>
                           </th:block>
                        </strong>
                     </div>
                  </th:block>
                  <th:block th:if="${!#strings.isEmpty(@properties.phone)}">
                     <hr/>
                     <div layout:insert="~{layouts/info::icon('fa-phone-square')}" th:with="href=${ 'tel:'+@properties.phone }">
                        <strong layout:fragment="label" class="text-dark">
                           <span th:text="#{contactUs.phone}+':'" class="text-capitalize">
                              Phone:
                           </span>
                           <br/>
                           <span th:text="${@properties.formattedPhone}">
                              (123) 456-7890
                           </span>
                        </strong>
                     </div>
                  </th:block>
                  <th:block th:if="${!#strings.isEmpty(@properties.email)}">
                     <hr/>
                     <div layout:insert="~{layouts/info::icon('fa-at')}" th:with="href=${ 'mailto:'+@properties.email }">
                        <strong layout:fragment="label" class="text-dark">
                           <span th:text="#{contactUs.email}+':'" class="text-capitalize">
                              Email:
                           </span>
                           <br/>
                           <span th:text="${@properties.email}">
                              test@abc.com
                           </span>
                        </strong>
                     </div>
                  </th:block>
                  <th:block th:if="${!#lists.isEmpty(@properties.physicalAddress)}">
                     <hr/>
                     <div layout:insert="~{layouts/info::icon('fa-clock')}">
                        <span layout:fragment="label" class="text-dark">
                           <strong th:text="#{contactUs.hours}+':'" class="text-capitalize">
                              Office Hours:
                           </strong>
                           <br/>
                           <small class="text-secondary font-italic" th:text="#{contactUs.hoursNotice}">
                              Call before you come
                           </small>
                           <br/>
                           <th:block th:if="${!#strings.isEmpty(@properties.officeHoursWeekday)}">
                              <small th:text="#{contactUs.hours.weekday}+':'">M-F</small>
                              <strong class="float-right" th:text="${@properties.officeHoursWeekday}">9:00am - 11:00pm</strong>
                              <br/>
                           </th:block>
                           <th:block th:if="${!#strings.isEmpty(@properties.officeHoursWeekend)}">
                              <small th:text="#{contactUs.hours.weekend}+':'">Saturday</small>
                              <strong class="float-right" th:text="${@properties.officeHoursWeekend}">9:00am - 11:00pm</strong>
                              <br/>
                           </th:block>
                        </span>
                     </div>
                  </th:block>
               </div>
            </div>
         </div>
         <div class="col-12 col-lg-4 mb-3">
             <th:block th:if="${!#strings.isEmpty( @properties.facebookUrl )}" th:with="isPrimary=true, isLarge=true, fontawesomeClass='fab fa-facebook-messenger'">
                 <i th:replace="~{fragments/button::action(${'https://m.me/' + @properties.facebookUrl.split('id=')[1]}, #{contactUs.facebookButton})}"></i>
             </th:block>
         </div>
      </div>

      <iframe th:if="${!#strings.isEmpty(addressUrlLine)}"
              th:src="'https://www.google.com/maps/embed/v1/place?q='+${addressUrlLine}+'&key='+${@properties.google.maps.apiKey}+'&language='+${#locale.language}"
              class="mx-auto d-block border-0 mb-3"
              width="100%"
              allowfullscreen>
      </iframe>
   </div>

   <i th:replace="~{fragments/footer::footer(#{contactUs.navlink})}"></i>
</main>

<!--/*/ <th:block th:insert="~{fragments/includes::scripts}"></th:block> /*/-->
<script th:src="@{'/js/contactUs.js?v='+__${@properties.version}__}"></script>
<script th:src="@{'/js/facebookEmbed.js?v='+__${@properties.version}__}"></script>
</body>
</html>