<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="uri=${@contactController.URL_BASE}">
<head>
   <th:block th:include="fragments/includes::head(${uri})"></th:block>
   <link rel="stylesheet" th:href="@{'/css/contact.css?v='+__${@properties.version}__}">

   <title th:text="#{contact.title}">Title</title>
   <!--<meta property="og:url" content="">-->
   <meta property="og:title" th:content="#{contact.title}">
   <meta property="og:description" th:content="#{contact.contactUs}">
</head>
<body>
<th:block th:if="${!#strings.isEmpty( @properties.facebookUrl )}">
   <div id="fb-root"></div>
   <script async defer crossorigin="anonymous" th:src="'https://connect.facebook.net/'+${#locale.language + (#locale.language == 'es' ? '_LA' : '_US' )}+'/sdk.js#xfbml=1&version=v3.3'"></script>
</th:block>
<i th:replace="fragments/navbar::header(#{contact.navlink})"></i>
<main role="main">
   <i layout:replace="~{layouts/info::banner(#{contact.contactUs}, ${uri})}"></i>

   <div class="container">
      <div class="row">
         <div class="col-12 col-md-6 mb-3">
            <div layout:insert="~{layouts/info::card}">
               <div layout:fragment="content" th:remove="tag">
                  <th:block th:if="${!#lists.isEmpty(@properties.physicalAddress)}">
                     <div layout:insert="~{layouts/info::icon('fa-map-marker-alt')}" class="hoverPointer" th:attr="addressUrlLine=${addressUrlLine}" onclick="mapsSelector( this )">
                        <span layout:fragment="label" class="text-dark">
                           <th:block th:each="line:${@properties.physicalAddress}">
                              <strong th:text="${line}">Line</strong>
                              <br/>
                           </th:block>
                           <small class="text-secondary font-italic" th:text="#{contact.mailNotice}">
                              Don't mail here!
                           </small>
                        </span>
                     </div>
                  </th:block>
                  <th:block th:if="${!#lists.isEmpty(@properties.mailingAddress)}">
                     <hr th:if="${!#lists.isEmpty(@properties.physicalAddress)}"/>
                     <div layout:insert="~{layouts/info::icon('fa-envelope-square')}">
                        <strong layout:fragment="label" class="text-dark">
                           <th:block th:each="line:${@properties.mailingAddress}">
                              <span th:text="${line}">Line</span>
                              <br/>
                           </th:block>
                        </strong>
                     </div>
                  </th:block>
                  <th:block th:if="${!#strings.isEmpty(@properties.phone)}">
                     <hr/>
                     <div layout:insert="~{layouts/info::icon('fa-phone-square')}" th:with="href=${ 'tel:'+@properties.phone }">
                        <strong layout:fragment="label" class="text-dark">
                           <span th:text="#{contact.phone}+':'" class="text-capitalize">
                              Phone:
                           </span>
                           <br/>
                           <span th:text="${@properties.formattedPhone}">
                              (123) 456-7890
                           </span>
                        </strong>
                     </div>
                  </th:block>
                  <th:block th:if="${!#strings.isEmpty(@properties.email)}">
                     <hr/>
                     <div layout:insert="~{layouts/info::icon('fa-at')}" th:with="href=${ 'mailto:'+@properties.email }">
                        <strong layout:fragment="label" class="text-dark">
                           <span th:text="#{contact.email}+':'" class="text-capitalize">
                              Email:
                           </span>
                           <br/>
                           <span th:text="${@properties.email}">
                              test@abc.com
                           </span>
                        </strong>
                     </div>
                  </th:block>
                  <th:block th:if="${!#lists.isEmpty(@properties.physicalAddress)}">
                     <hr/>
                     <div layout:insert="~{layouts/info::icon('fa-clock')}">
                        <span layout:fragment="label" class="text-dark">
                           <strong th:text="#{contact.hours}+':'" class="text-capitalize">
                              Office Hours:
                           </strong>
                           <br/>
                           <small class="text-secondary font-italic" th:text="#{contact.hoursNotice}">
                              Call before you come
                           </small>
                           <br/>
                           <th:block th:if="${!#strings.isEmpty(@properties.officeHoursWeekday)}">
                              <small th:text="#{contact.hours.weekday}+':'">M-F</small>
                              <strong class="float-right" th:text="${@properties.officeHoursWeekday}">9:00am - 11:00pm</strong>
                              <br/>
                           </th:block>
                           <th:block th:if="${!#strings.isEmpty(@properties.officeHoursWeekend)}">
                              <small th:text="#{contact.hours.weekend}+':'">Saturday</small>
                              <strong class="float-right" th:text="${@properties.officeHoursWeekend}">9:00am - 11:00pm</strong>
                              <br/>
                           </th:block>
                        </span>
                     </div>
                  </th:block>
               </div>
            </div>
         </div>
         <div class="col-12 col-md-6 mb-3">
            <div th:if="${!#strings.isEmpty( @properties.facebookUrl )}" class="fb-page d-block" th:attr="data-href=${@properties.facebookUrl}" data-tabs="messages" data-width="" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
               <blockquote th:cite="${@properties.facebookUrl}" class="fb-xfbml-parse-ignore">
                  <a th:href="${@properties.facebookUrl}">
                     El Puente Hispanic Services Center
                  </a>
               </blockquote>
            </div>
         </div>
      </div>

      <iframe th:if="${!#strings.isEmpty(addressUrlLine)}"
              th:src="'https://www.google.com/maps/embed/v1/place?q='+${addressUrlLine}+'&key='+${@properties.google.maps.apiKey}+'&language='+${#locale.language}"
              class="mx-auto d-block border-0 mb-3"
              width="100%"
              allowfullscreen>
      </iframe>
   </div>

   <i th:replace="fragments/footer::footer(#{contact.navlink})"></i>
</main>

<!--/*/ <th:block th:include="fragments/includes::scripts"></th:block> /*/-->
<script th:src="@{'/js/contact.js?v='+__${@properties.version}__}"></script>
<script th:src="@{'/js/facebookEmbed.js?v='+__${@properties.version}__}"></script>
</body>
</html>