<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:og="http://ogp.me/ns#"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="properties=${T(org.elpuentesearcy.configuration.Properties).get()}, uri=${T(org.elpuentesearcy.controller.InvolvementController).URL_BASE}">
<head>
   <th:block th:include="fragments/includes::head(${uri})"></th:block>
   <link rel="stylesheet" th:href="@{'/css/involvement.css?v='+__${properties.version}__}">

   <title th:text="#{involvement.title}">Title</title>
   <!--<meta property="og:url" content="">-->
   <meta property="og:title" th:content="#{involvement.title}">
   <meta property="og:description" th:content="#{involvement.involvement.content}">
   <link rel="stylesheet" th:href="@{'/css/cardColumns.css?v='+__${properties.version}__}">
</head>
<body>
<i th:replace="fragments/navbar::header(#{involvement.navlink})"></i>
<main role="main">
   <i layout:replace="~{layouts/info::banner(#{involvement.involvement.header},${uri})}"></i>
   <p class="container mb-5" th:utext="#{involvement.involvement.content}"></p>
   <div class="text-center" th:with="fontawesomeClass='fa-file-pdf', downloadFileName=${properties.volunteerFormDownload}">
      <i th:replace="fragments/button::action(${properties.volunteerFormDownloadPath}, #{involvement.volunteerForm.downloadText})"></i>
   </div>

   <i th:replace="fragments/sectionHeader::header(#{involvement.donations.header})"></i>

   <div class="container" th:if="${#dates.createToday().before( #dates.create(2019, 12, 4) )}">
      <!-- Begin Give Lively Fundraising Widget -->
      <script>gl=document.createElement('script');gl.src='https://secure.givelively.org/widgets/branded_donation/el-puente-hispanic-services-center/giving-tuesday.js';document.getElementsByTagName('head')[0].appendChild(gl);</script><div data-widget-src='https://secure.givelively.org/donate/el-puente-hispanic-services-center/giving-tuesday?ref=sd_widget' id="give-lively-widget" class="gl-branded-donation-widget"></div>
      <!-- End Give Lively Fundraising Widget -->
      <i th:replace="fragments/sectionHeader::bannerText(#{involvement.donations.content})"></i>
   </div>

   <div class="container" th:if="${#dates.createToday().after( #dates.create(2019, 12, 4) )}">
      <div class="row mb-1">
         <div class="col"></div>
         <div class="col-xs-10 col-md-8 col-lg-6">
            <i th:replace="fragments/sectionHeader::bannerText(#{involvement.donations.content})"></i>
         </div>
         <div class="col"></div>
      </div>
      <div class="row">
         <div class="col"></div>
         <div class="col-xs-10 col-md-8 col-lg-6">
            <!-- Begin Give Lively Fundraising Widget -->
            <script>gl=document.createElement('script');gl.src='https://secure.givelively.org/widgets/simple_donation/el-puente-hispanic-services-center/website-donations.js?show_suggested_amount_buttons=true&show_in_honor_of=true&address_required=false&has_required_custom_question=false&suggested_donation_amounts[]=25&suggested_donation_amounts[]=50&suggested_donation_amounts[]=100&suggested_donation_amounts[]=250';document.getElementsByTagName('head')[0].appendChild(gl);</script><div id="give-lively-widget" class="gl-simple-donation-widget"></div>
            <!-- End Give Lively Fundraising Widget -->
         </div>
         <div class="col"></div>
      </div>
   </div>

   <i layout:replace="~{layouts/info::cardView}">
      <div layout:fragment="cards">
         <div th:if="${!#strings.isEmpty(properties.giveLivelyUrl)}"
              class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fa-hand-holding-usd', label=#{involvement.donations.online.label}, description=#{involvement.donations.online.content},
              actionButtonURL=${properties.giveLivelyUrl}, actionButtonText=#{involvement.donations.online.button}"></div>
         <div th:if="${!#strings.isEmpty(mailingAddress)}"
              class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fa-envelope-open-text', label=#{involvement.donations.mail.label}, description=#{involvement.donations.mail.content(${'<strong>'+mailingAddress+'</strong>'})}"></div>
         <div class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fab fa-amazon', label=#{involvement.donations.amazon.label}, description=#{involvement.donations.amazon.content},
              actionButtonURL=${properties.amazonSmileUrl}, actionButtonText=#{involvement.donations.amazon.button}"></div>
         <div class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fa-monument', label=#{involvement.donations.memorial.label}, description=#{involvement.donations.memorial.content}"></div>
         <div class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fa-gift', label=#{involvement.donations.wishlist.label}, description=#{involvement.donations.wishlist.content}"></div>
         <div class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fa-file-invoice-dollar', label=#{involvement.donations.matchinggifts.label}, description=#{involvement.donations.matchinggifts.content}"></div>
         <div class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fa-donate', label=#{involvement.donations.plannedgiving.label}, description=#{involvement.donations.plannedgiving.content}"></div>
      </div>
   </i>

   <i th:replace="fragments/sectionHeader::header(#{involvement.volunteers.header})"></i>
   <p class="container mb-5" th:utext="#{involvement.volunteers.content}"></p>
   <div class="text-center" th:with="fontawesomeClass='fa-file-pdf', downloadFileName='ElPuenteVolunteerForm'">
      <i th:replace="fragments/button::action('/downloads/ElPuenteVolunteerForm.pdf', #{involvement.volunteerForm.downloadText})"></i>
   </div>

   <i th:replace="fragments/sectionHeader::header(#{involvement.sponsors.header})"></i>
   <p class="container mb-5" th:utext="#{involvement.sponsors.content}"></p>

   <i th:replace="fragments/footer::footer(#{involvement.navlink})"></i>
</main>

<!--/*/ <th:block th:include="fragments/includes::scripts"></th:block> /*/-->
<script th:src="@{'/js/cardView.js?v='+__${properties.version}__}"></script>
</body>
</html>