<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:og="http://ogp.me/ns#"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="properties=${T(org.elpuentesearcy.configuration.Properties).get()}">
<head>
   <!--/*/ <th:block th:include="fragments/includes::head"></th:block> /*/-->

   <title th:text="#{involvement.title}">Title</title>
   <!--<meta property="og:url" content="">-->
   <meta property="og:title" th:content="#{involvement.title}">
   <meta property="og:description" th:content="#{involvement.involvement.content}">
</head>
<body>
<main role="main">
   <i th:replace="fragments/navbar::header(#{involvement.navlink})"></i>

   <i th:replace="fragments/sectionHeader::header(#{involvement.involvement.header})"></i>
   <p class="container mb-5" th:utext="#{involvement.involvement.content}"></p>

   <i th:replace="fragments/sectionHeader::header(#{involvement.donations.header})"></i>
   <i th:replace="fragments/sectionHeader::bannerText(#{involvement.donations.content})"></i>

   <i layout:replace="~{layouts/info::cardView}">
      <div layout:fragment="iconCards">
<!--         <div class="pt-1" layout:insert="~{layouts/info::iconCard('fa-hand-holding-usd', #{involvement.donations.online.label}, #{involvement.donations.online.content} )}"></div>-->
         <div th:if="${!#strings.isEmpty(mailingAddress)}"
              class="pt-1" layout:insert="~{layouts/info::iconCard('fa-envelope-open-text', #{involvement.donations.mail.label}, #{involvement.donations.mail.content(${'<strong>'+mailingAddress+'</strong>'})} )}"></div>
         <div class="pt-1" layout:insert="~{layouts/info::iconCard('fa-monument', #{involvement.donations.memorial.label}, #{involvement.donations.memorial.content} )}"></div>
         <div class="pt-1" layout:insert="~{layouts/info::iconCard('fa-gift', #{involvement.donations.wishlist.label}, #{involvement.donations.wishlist.content} )}"></div>
         <div class="pt-1" layout:insert="~{layouts/info::iconCard('fa-file-invoice-dollar', #{involvement.donations.matchinggifts.label}, #{involvement.donations.matchinggifts.content} )}"></div>
         <div class="pt-1" layout:insert="~{layouts/info::iconCard('fa-donate', #{involvement.donations.plannedgiving.label}, #{involvement.donations.plannedgiving.content} )}"></div>
      </div>
   </i>

   <i th:replace="fragments/sectionHeader::header(#{involvement.volunteers.header})"></i>
   <p class="container mb-5" th:utext="#{involvement.volunteers.content}"></p>

   <i th:replace="fragments/sectionHeader::header(#{involvement.sponsors.header})"></i>
   <p class="container mb-5" th:utext="#{involvement.sponsors.content}"></p>

   <i th:replace="fragments/footer::footer(#{involvement.navlink})"></i>
</main>

<!--/*/ <th:block th:include="fragments/includes::scripts"></th:block> /*/-->
<script th:src="@{'/js/cardView.js?v='+__${properties.version}__}"></script>
</body>
</html>