<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="properties=${T(org.elpuentesearcy.configuration.Properties).get()}">
<head>
   <th:block th:include="fragments/includes::head('/')"></th:block>

   <title th:text="#{home.title}">Title</title>
   <!--<meta property="og:url" content="">-->
   <meta property="og:title" th:content="#{home.title}">
   <meta property="og:description" th:content="#{home.missionStatement}">
   <link rel="stylesheet" th:href="@{'/css/main.css?v='+__${properties.version}__}">
   <link rel="stylesheet" th:href="@{'/css/testimonial.css?v='+__${properties.version}__}">

   <!-- Mailchimp styling -->
   <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
   <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
      /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
   </style>
   <!-- end Mailchimp styling -->
   <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/e1db33b1caf2cbdaab704c82c/3eccc991ef81bebcac946a3fc.js");</script>
</head>
<body>
   <div id="fb-root"></div>
   <script async defer crossorigin="anonymous" th:src="'https://connect.facebook.net/'+${#locale.language + (#locale.language == 'es' ? '_LA' : '_US' )}+'/sdk.js#xfbml=1&version=v3.3'"></script>
   <i th:replace="fragments/navbar::header('')"></i>
   <main role="main">
      <i layout:replace="~{layouts/info::banner('El Puente Hispanic Services Center')}">
         <div layout:fragment="textOverlay">
            <div class="card-body container pt-5">
               <p id="missionStatement" class="font-italic text-light font-weight-light" th:text="#{home.missionStatement}">
                  Mission statement
               </p>
               <small class="d-block text-white" th:text="#{home.missionStatementSignature}">
                  Signature
               </small>
            </div>
         </div>
      </i>

      <div class="container text-center" th:if="${properties.showHispanicHeritageCelebrationDinner}">
         <div th:if="${#locale.language == 'es'}">
            <img class="mb-5" th:src="@{'/images/HHMCD-Spanish-Ticket-Sales.jpg'}" width="75%" />
         </div>
         <div th:if="${#locale.language != 'es'}">
            <img class="mb-5" th:src="@{'/images/HHMCD-Individual-ticket-sales.jpg'}" width="75%" />
            <div class="mb-5" th:with="fontawesomeClass='fa-share', target='_blank', isLarge=true">
               <i th:replace="fragments/button::action(${properties.hispanicHeritageMonthCelebrationDinnerTicketsUrl}, 'Buy Tickets')"></i>
            </div>
            <p>
               El Puente Clients may purchase $10 tickets in person on Tuesdays and Thursdays, 3-6pm, at El Puente.  <a th:href="${#httpServletRequest.getRequestURL().toString().replaceFirst('://','://es.')}">Click here for more information.</a>
            </p>
         </div>
      </div>

      <i th:replace="fragments/sectionHeader::header(#{home.whoWeAre})"></i>

      <div class="container">
         <div class="container video-container">
            <iframe width="560" height="315" th:src="${'https://www.youtube.com/embed/u9y0OQkd608?cc_lang_pref=' + #locale.language + '&hl=' + #locale.language}" src="https://www.youtube.com/embed/u9y0OQkd608" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>
      </div>

      <!-- https://codepen.io/andrewwright/pen/Aigre -->
      <div class="container testimonial-quote group right">
         <hr style="margin-bottom: 60px;">

         <div class="quote-container">
            <blockquote>
               <p>El Puente has been a blessing for our community in so many aspects. Services provided as simple as an English class or a welcome guide to new residents are changing one life at a time. El Puente has quite literally become "the bridge" our community was in need of, and now a pathway has been built for all our Hispanic brothers and sisters. Thank you Mrs. Ruth Simpson and all the members who have helped create El Puente.”</p>
            </blockquote>
            <cite><span>Paola P.</span></cite>
         </div>

         <hr style="margin: 60px auto;">
      </div>

      <div class="container mb-5" th:if="${properties.showGivingTuesdayWidget}">
         <!-- Begin Give Lively Fundraising Widget -->
         <script>gl=document.createElement('script');gl.src='https://secure.givelively.org/widgets/branded_donation/el-puente-hispanic-services-center/giving-tuesday.js';document.getElementsByTagName('head')[0].appendChild(gl);</script><div data-widget-src='https://secure.givelively.org/donate/el-puente-hispanic-services-center/giving-tuesday?ref=sd_widget' id="give-lively-widget" class="gl-branded-donation-widget"></div>
         <!-- End Give Lively Fundraising Widget -->
      </div>
      <div class="container mb-5" th:if="${!properties.showGivingTuesdayWidget}">
         <!-- Begin Give Lively Fundraising Widget -->
         <script>gl=document.createElement('script');gl.src='https://secure.givelively.org/widgets/simple_donation/el-puente-hispanic-services-center/website-donations.js?show_suggested_amount_buttons=false&show_in_honor_of=false&address_required=false&has_required_custom_question=false&prefilled_donation_amount=100';document.getElementsByTagName('head')[0].appendChild(gl);</script><div id="give-lively-widget" class="gl-simple-donation-widget"></div>
         <!-- End Give Lively Fundraising Widget -->
      </div>

      <div class="container my-3">
         <div class="row">
            <div class="col-12 col-md-6 col-lg-6 col-xl-5 mb-3">
               <th:block th:if="${!#strings.isEmpty( properties.facebookUrl )}">
                  <div layout:insert="~{layouts/info::card}">
                     <div layout:fragment="content" th:remove="tag">
                        <h5 class="card-title" th:text="#{social.facebook}"></h5>
                        <div class="fb-page d-block"
                             th:attr="data-href=${properties.facebookUrl}"
                             data-tabs="timeline, events"
                             data-width=""
                             data-height="520"
                             data-small-header="false"
                             data-adapt-container-width="true"
                             data-hide-cover="false"
                             data-show-facepile="true">
                           <blockquote th:cite="${properties.facebookUrl}" class="fb-xfbml-parse-ignore">
                              <a th:href="${properties.facebookUrl}">
                                 El Puente Hispanic Services Center
                              </a>
                           </blockquote>
                        </div>
                     </div>
                  </div>
                  <br/>
               </th:block>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-7 mb-3">
               <th:block th:if="${!#lists.isEmpty( carouselImageNames ) && !#strings.isEmpty( carouselImagePath )}">
                  <div class="card">
                     <div id="carousel" class="carousel slide card-img-top" data-ride="carousel">
                        <div class="carousel-inner">
                           <div th:class="'carousel-item '+${imageNameStat.index == carouselImageRandomStartIndex ? 'active' : ''}" th:each="imageName:${carouselImageNames}">
                              <img th:src="${carouselImagePath + imageName}" class="d-block w-100">
                           </div>
                        </div>
                        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                           <span class="sr-only" th:text="#{home.carousel.previous}"></span>
                        </a>
                        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                           <span class="carousel-control-next-icon" aria-hidden="true"></span>
                           <span class="sr-only" th:text="#{home.carousel.next}"></span>
                        </a>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title" th:text="#{home.carousel.title}"></h5>
                        <p class="card-text" th:text="#{home.carousel.content}"></p>
                     </div>
                  </div>
                  <br/>
               </th:block>
<!--               <div class="text-center">-->
<!--                  <img class="img-fluid mb-3" th:src="@{/images/87468234_1597136333771589_6164025733371920384_o.jpg}" alt="English Class starts on Monday, March 16 from 6:30-8:00pm"/>-->
<!--               </div>-->
               <i th:replace="fragments/newsletterSignupForm::mailchimp"></i>
               <br/>
               <div layout:insert="~{layouts/info::card}">
                  <div layout:fragment="content" th:remove="tag">
                     <div class="text-center">
                        <p th:utext="#{home.donationText}"></p>
                        <th:block th:with="fontawesomeClass='fa-hand-holding-heart',isLarge=true">
                           <i th:replace="fragments/button::action(${T(org.elpuentesearcy.controller.InvolvementController).URL_BASE}, #{home.donationOptionsButton})"></i>
                        </th:block>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <i th:replace="fragments/footer::footer('')"></i>
</main>
   <!--/*/ <th:block th:include="fragments/includes::scripts"></th:block> /*/-->
   <script th:src="@{'/js/facebookEmbed.js?v='+__${properties.version}__}"></script>
</body>
</html>