<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="properties=${T(org.elpuentesearcy.configuration.Properties).get()}">
<head>
   <!--/*/ <th:block th:include="fragments/includes::head"></th:block> /*/-->

   <title th:text="#{home.title}">Title</title>
   <!--<meta property="og:url" content="">-->
   <meta property="og:title" th:content="#{home.title}">
   <meta property="og:description" th:content="#{home.missionStatement}">
</head>
<body>
   <div id="fb-root"></div>
   <script async defer crossorigin="anonymous" th:src="'https://connect.facebook.net/'+${#locale.language + (#locale.language == 'es' ? '_LA' : '_US' )}+'/sdk.js#xfbml=1&version=v3.3'"></script>
   <main role="main">
      <i th:replace="fragments/navbar::header('')"></i>

      <div class="container my-3">
         <div class="row">
            <div class="col-12 col-md-6 col-lg-5 col-xl-4 mb-3" th:if="${!#strings.isEmpty( properties.facebookUrl )}">
               <div layout:insert="~{layouts/info::card}">
                  <div layout:fragment="content" th:remove="tag">
                     <div class="fb-page d-block"
                          th:attr="data-href=${properties.facebookUrl}"
                          data-tabs="timeline, events"
                          data-width=""
                          data-height=""
                          data-small-header="false"
                          data-adapt-container-width="true"
                          data-hide-cover="false"
                          data-show-facepile="true">
                        <blockquote th:cite="${properties.facebookUrl}" class="fb-xfbml-parse-ignore">
                           <a th:href="${properties.facebookUrl}">
                              El Puente Hispanic Services Center
                           </a>
                        </blockquote>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xl-8 mb-3">
               <div class="card border-0 bg-primary">
                  <div class="card-body container pt-5 px-3 px-md-5">
                     <p class="font-italic text-center text-light font-weight-light" th:text="#{home.missionStatement}">
                        Mission statement
                     </p>
                     <small class="text-right d-block text-white" th:text="#{home.missionStatementSignature}">
                        Signature
                     </small>
                  </div>
               </div>
               <br/>
               <div layout:insert="~{layouts/info::card}">
                  <div layout:fragment="content" th:remove="tag">
                     <div class="text-center">
                        <p th:utext="#{home.donationText}"></p>
                        <i th:replace="fragments/button::action(${T(org.elpuentesearcy.controller.InvolvementController).URL_BASE}, 'fa-hand-holding-heart', #{home.donationOptionsButton})"></i>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <i th:replace="fragments/footer::footer('')"></i>
</main>

   <!--/*/ <th:block th:include="fragments/includes::scripts"></th:block> /*/-->
   <script th:src="@{'/js/facebookEmbed.js?v='+__${properties.version}__}"></script>
</body>
</html>