<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="properties=${T(org.elpuentesearcy.configuration.Properties).get()}">
<head>
   <th:block th:include="fragments/includes::head('/')"></th:block>

   <title th:text="#{home.title}">Title</title>
   <!--<meta property="og:url" content="">-->
   <meta property="og:title" th:content="#{home.title}">
   <meta property="og:description" th:content="#{home.missionStatement}">
   <link rel="stylesheet" th:href="@{'/css/main.css?v='+__${properties.version}__}">

   <!-- Mailchimp styling -->
   <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
   <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
      /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
   </style>
   <!-- end Mailchimp styling -->
</head>
<body>
   <div id="fb-root"></div>
   <script async defer crossorigin="anonymous" th:src="'https://connect.facebook.net/'+${#locale.language + (#locale.language == 'es' ? '_LA' : '_US' )}+'/sdk.js#xfbml=1&version=v3.3'"></script>
   <i th:replace="fragments/navbar::header('')"></i>
   <main role="main">
      <div class="card border-0 heroBanner">
         <div class="card-body container pt-5">
            <p id="missionStatement" class="font-italic text-light font-weight-light" th:text="#{home.missionStatement}">
               Mission statement
            </p>
            <small class="d-block text-white" th:text="#{home.missionStatementSignature}">
               Signature
            </small>
         </div>
      </div>
      <div class="container" th:if="${#dates.createToday().before( #dates.create( 2019, 10, 19, 19, 0 ) )}"> <!-- todo remove after October 19 -->
         <div class="container">
            <div layout:insert="~{layouts/info::card}" class="boxShadow" style="transform:translateY(-50px)">
               <div layout:fragment="content">
                  <div class="row">
                     <div class="col-12 col-lg-6">
                        <h2 class="text-center text-lg-left">
                           <a th:href="${properties.salsaCompetitionRulesDownloadPath}">
                              <strong class="text-primary" th:text="#{salsaCompetition.title}"></strong>
                           </a>
                        </h2>
                     </div>
                     <div class="col-12 col-lg-2 text-center mt-lg-2">
                        <span class="text-secondary d-block">
                           Oct 19 6:00pm
                        </span>
                     </div>
                     <div class="col-12 col-lg-4 text-center text-lg-right">
                        <span th:with="fontawesomeClass='fa-file-pdf', downloadFileName=${properties.salsaCompetitionRulesDownload}">
                           <i th:replace="fragments/button::action(${properties.salsaCompetitionRulesDownloadPath}, #{salsaCompetition.rules})"></i>
                        </span>
                        <span th:with="fontawesomeClass='fa-share'" data-toggle="tooltip" title="Thank you for your interest in competing in the Searcy Salsa Standoff! All of our competitor spots are filled, but please come out and be a salsa taster this year and plan to compete next year!">
                           <i th:replace="fragments/button::action('#', #{salsaCompetition.signup})"></i>
                        </span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="container my-3">
         <div class="row">
            <div class="col-12 col-md-6 col-lg-5 col-xl-4 mb-3" th:if="${!#strings.isEmpty( properties.facebookUrl )}">
               <div class="card">
                  <div class="card-img-top">
                     <img th:src="@{/images/salsa-competition.jpg}" class="d-block w-100" alt="Searcy Salsa Standoff - October 19 at Searcy's Beats & Eats">
                  </div>
                  <div class="card-body text-center" th:if="${#dates.createToday().before( #dates.create( 2019, 10, 19, 19, 0 ) )}"> <!-- todo remove after October 19 -->
                     <span th:with="fontawesomeClass='fa-file-pdf', downloadFileName=${properties.salsaCompetitionRulesDownload}">
                        <i th:replace="fragments/button::action(${properties.salsaCompetitionRulesDownloadPath}, #{salsaCompetition.rules})"></i>
                     </span>
                     <span th:with="fontawesomeClass='fa-share'" data-toggle="tooltip" title="Thank you for your interest in competing in the Searcy Salsa Standoff! All of our competitor spots are filled, but please come out and be a salsa taster this year and plan to compete next year!local">
                        <i th:replace="fragments/button::action('#', #{salsaCompetition.signup})"></i>
                     </span>
                  </div>
               </div>
               <br/>
               <div layout:insert="~{layouts/info::card}">
                  <div layout:fragment="content" th:remove="tag">
                     <h5 class="card-title" th:text="#{social.facebook}"></h5>
                     <div class="fb-page d-block"
                          th:attr="data-href=${properties.facebookUrl}"
                          data-tabs="timeline, events"
                          data-width=""
                          data-height="400"
                          data-small-header="false"
                          data-adapt-container-width="true"
                          data-hide-cover="false"
                          data-show-facepile="true">
                        <blockquote th:cite="${properties.facebookUrl}" class="fb-xfbml-parse-ignore">
                           <a th:href="${properties.facebookUrl}">
                              El Puente Hispanic Services Center
                           </a>
                        </blockquote>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xl-8 mb-3">
               <th:block th:if="${!#lists.isEmpty( carouselImageNames ) && !#strings.isEmpty( carouselImagePath )}">
                  <div class="card">
                     <div id="carousel" class="carousel slide card-img-top" data-ride="carousel">
                        <div class="carousel-inner">
                           <div th:class="'carousel-item '+${imageNameStat.index == carouselImageRandomStartIndex ? 'active' : ''}" th:each="imageName:${carouselImageNames}">
                              <img th:src="${carouselImagePath + imageName}" class="d-block w-100">
                           </div>
                        </div>
                        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                           <span class="sr-only" th:text="#{home.carousel.previous}"></span>
                        </a>
                        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                           <span class="carousel-control-next-icon" aria-hidden="true"></span>
                           <span class="sr-only" th:text="#{home.carousel.next}"></span>
                        </a>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title" th:text="#{home.carousel.title}"></h5>
                        <p class="card-text" th:text="#{home.carousel.content}"></p>
                     </div>
                  </div>
                  <br/>
               </th:block>
               <div layout:insert="~{layouts/info::card}">
                  <div layout:fragment="content" th:remove="tag">
                     <!-- Begin Mailchimp Signup Form -->
                     <div id="mc_embed_signup">
                        <form action="https://elpuentesearcy.us4.list-manage.com/subscribe/post?u=e1db33b1caf2cbdaab704c82c&amp;id=5caa913ba4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                           <div id="mc_embed_signup_scroll">
                              <h2>
                                 <i class="far fa-newspaper"></i>
                                 <span th:text="#{newsletter.signup}"></span>
                              </h2>
                              <div class="mc-field-group">
                                 <label for="mce-EMAIL"><span th:text="#{newsletter.emailAddress}"></span>  <span class="asterisk">*</span>
                                 </label>
                                 <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                              </div>
                              <div class="mc-field-group">
                                 <label for="mce-FNAME" th:text="#{newsletter.firstName}"></label>
                                 <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                              </div>
                              <div class="mc-field-group">
                                 <label for="mce-LNAME" th:text="#{newsletter.lastName}"></label>
                                 <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                              </div>
                              <div id="mce-responses" class="clear">
                                 <div class="response" id="mce-error-response" style="display:none"></div>
                                 <div class="response" id="mce-success-response" style="display:none"></div>
                              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e1db33b1caf2cbdaab704c82c_5caa913ba4" tabindex="-1" value=""></div>
                              <div class="clear"><input type="submit" th:value="#{newsletter.subscribe}" name="subscribe" id="mc-embedded-subscribe" class="button btn-danger"></div>
                           </div>
                        </form>
                     </div>
                     <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                     <!--End mc_embed_signup-->
                  </div>
               </div>
            </div>
         </div>
         <div layout:insert="~{layouts/info::card}">
            <div layout:fragment="content" th:remove="tag">
               <div class="text-center">
                  <p th:utext="#{home.donationText}"></p>
                  <th:block th:with="fontawesomeClass='fa-hand-holding-heart',isLarge=true">
                     <i th:replace="fragments/button::action(${T(org.elpuentesearcy.controller.InvolvementController).URL_BASE}, #{home.donationOptionsButton})"></i>
                  </th:block>
               </div>
            </div>
         </div>
      </div>

      <i th:replace="fragments/footer::footer('')"></i>
</main>

   <!--/*/ <th:block th:include="fragments/includes::scripts"></th:block> /*/-->
   <script th:src="@{'/js/facebookEmbed.js?v='+__${properties.version}__}"></script>
</body>
</html>