<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="uri=${@programsController.getUrlBase(#locale.language)}, englishUri=${@programsController.getUrlBase('en')}">
<head>
   <th:block th:insert="~{fragments/includes::head(${uri})}"></th:block>
   <link rel="stylesheet" th:href="@{'/css/cardColumns.css?v='+__${@properties.version}__}">
   <link rel="stylesheet" th:href="@{'/css/cardView.css?v='+__${@properties.version}__}">

   <title th:text="#{programs.title}">Title</title>
   <!--<meta property="og:url" content="">-->
   <meta property="og:title" th:content="#{programs.title}">
   <meta property="og:description" th:content="#{programs.description}">
</head>
<body>
<i th:replace="~{fragments/navbar::header(#{programs.navlink})}"></i>
<main role="main">
   <i layout:replace="~{layouts/info::banner(#{programs.navlink},${englishUri})}"></i>
   <i th:replace="~{fragments/sectionHeader::bannerText(#{programs.description})}"></i>

   <div layout:replace="~{layouts/info::cardView}">
      <div layout:fragment="cards" th:with="phoneLink=${#strings.isEmpty(@properties.phone) ? '' : '<a href=&quot;tel:'+@properties.phone+'&quot;><strong>'+@properties.formattedPhone+'</strong></a>'}">
         <div th:if="${!#strings.isEmpty(phoneLink)}"
              class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fa-chalkboard-teacher', label=#{programs.english.label}, description=#{programs.english.description(${phoneLink})}, imageUrl=@{/images/20230110_194411.jpg}"></div>
         <div class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fa-chalkboard-teacher', label=#{programs.spanish.label}, description=#{programs.spanish.description(${phoneLink})}, imageUrl=@{/images/20220222_160030.jpg}"></div>
         <div th:if="${!#strings.isEmpty(phoneLink)}"
              class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fa-flag-usa', label=#{programs.citizenship.label}, description=#{programs.citizenship.description(${phoneLink})}, imageUrl=@{/images/citizenship2.jpg}"></div>
         <div class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fa-female', label=#{programs.maps.label}, description=#{programs.maps.description}, imageUrl=@{/images/20230422_115648.jpg}, actionButtonURL='https://secure.givelively.org/donate/el-puente-hispanic-services-center/maps-program', actionButtonText=#{programs.maps.button}"></div>
         <div class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fa-baby-carriage', label=#{programs.babyShower.label}, description=#{programs.babyShower.description}, imageUrl=@{/images/362256880_986759769328927_4936146772466113209_n.jpg}, actionButtonURL='https://secure.givelively.org/donate/el-puente-hispanic-services-center/community-baby-showers', actionButtonText=#{programs.babyShower.button}"></div>
         <div class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fa-flag', label=#{programs.spanishCamp.label}, description=#{programs.spanishCamp.description}, imageUrl=@{/images/ee708bcf-f58b-4eef-b6fa-cfdfa9cf9c84.jpg}"></div>
         <div class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fa-flask', label=#{programs.backToSchoolDayCamp.label}, description=#{programs.backToSchoolDayCamp.description}, imageUrl=@{/images/20230718_100930.jpg}, actionButtonURL='https://secure.givelively.org/donate/el-puente-hispanic-services-center/summer-back-to-school-one-day-camp', actionButtonText=#{programs.backToSchoolDayCamp.button}"></div>
         <div class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fa-graduation-cap', label=#{programs.scholarships.label}, description=#{programs.scholarships.description}, imageUrl=@{/images/2023-07-21-190546.png}, actionButtonURL='https://secure.givelively.org/donate/el-puente-hispanic-services-center/scholarship-program', actionButtonText=#{programs.scholarships.button}"></div>
         <div class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fa-person-chalkboard', label=#{programs.informationalSeminars.label}, description=#{programs.informationalSeminars.description}, imageUrl=@{/images/20230126_170958.jpg}"></div>
      </div>
   </div>

   <i th:replace="~{fragments/footer::footer(#{programs.navlink})}"></i>
</main>

<!--/*/ <th:block th:insert="~{fragments/includes::scripts}"></th:block> /*/-->
<script th:src="@{'/js/cardView.js?v='+__${@properties.version}__}"></script>
</body>
</html>