<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="properties=${T(org.elpuentesearcy.configuration.Properties).get()}">
<head>
   <!--/*/ <th:block th:include="fragments/includes::head"></th:block> /*/-->

   <title th:text="#{resources.title}">Title</title>
   <!--<meta property="og:url" content="">-->
   <meta property="og:title" th:content="#{resources.title}">
   <meta property="og:description" th:content="#{resources.navlink}">
</head>
<body>
<i th:replace="fragments/navbar::header(#{resources.navlink})"></i>
<main role="main">
   <i th:replace="fragments/sectionHeader::header(#{resources.navlink})"></i>

   <div class="container">
      <a href="https://www.searcychamber.com/">
         <img src="/images/searcy-chamber-of-commerce.png" alt="Searcy Chamber of Commerce">
      </a>
   </div>

   <i th:replace="fragments/footer::footer(#{resources.navlink})"></i>
</main>

<!--/*/ <th:block th:include="fragments/includes::scripts"></th:block> /*/-->
</body>
</html>