<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="properties=${T(org.elpuentesearcy.configuration.Properties).get()}">
<head>
   <!--/*/ <th:block th:include="fragments/includes::head"></th:block> /*/-->
   <link rel="stylesheet" th:href="@{'/css/cardColumns.css?v='+__${properties.version}__}">

   <title th:text="#{services.title}">Title</title>
</head>
<body>
<main role="main">
   <div th:replace="fragments/navbar::header(#{services.navlink})">
      Header
   </div>

   <h1 th:replace="fragments/sectionHeader::header(#{services.navlink})">
      services
   </h1>

   <div class="card border-0 bg-primary">
      <div class="card-body container pt-3 pb-0">
         <p class="text-light" th:utext="#{services.description}">
            Description
         </p>
      </div>
   </div>

   <div class="container my-5">
      <div class="d-none d-sm-inline-block w-100">
         <span class="float-right">
            <a id="displayInColumnsButton" class="btn btn-sm btn-secondary border-0" title="Column view">
               <i class="fas fa-columns"></i>
            </a>
            <a id="displayInRowsButton" class="btn btn-sm btn-outline-secondary border-0" title="List view">
               <i class="fas fa-align-left"></i>
            </a>
         </span>
      </div>
      <div id="displayCards" class="card-columns">
         <div class="pb-1" layout:insert="~{layouts/info::iconCard('fa-id-card', #{services.idCards.label}, #{services.idCards.description} )}"></div>
         <div class="pb-1" layout:insert="~{layouts/info::iconCard('fa-user-friends', #{services.interpretations.label}, #{services.interpretations.description} )}"></div>
         <div class="pb-1" layout:insert="~{layouts/info::iconCard('fa-copy', #{services.translations.label}, #{services.translations.description} )}"></div>
         <div class="pb-1" layout:insert="~{layouts/info::iconCard('fa-file-invoice', #{services.documents.label}, #{services.documents.description} )}"></div>
         <div class="pb-1" layout:insert="~{layouts/info::iconCard('fa-stethoscope', #{services.healthcare.label}, #{services.healthcare.description} )}"></div>
         <div class="pb-1" layout:insert="~{layouts/info::iconCard('fa-smile-beam', #{services.counseling.label}, #{services.counseling.description} )}"></div>
         <div class="pb-1" layout:insert="~{layouts/info::iconCard('fa-briefcase', #{services.job.label}, #{services.job.description} )}"></div>
         <div class="pb-1" layout:insert="~{layouts/info::iconCard('fa-home', #{services.housing.label}, #{services.housing.description} )}"></div>
         <div class="pb-1" layout:insert="~{layouts/info::iconCard('fa-certificate', #{services.notary.label}, #{services.notary.description} )}"></div>
         <div class="pb-1" layout:insert="~{layouts/info::iconCard('fa-file-signature', #{services.selectiveService.label}, #{services.selectiveService.description} )}"></div>
      </div>
   </div>

   <footer th:insert="fragments/footer::footer(#{services.navlink})" th:remove="tag">
      Footer
   </footer>
</main>

<!--/*/ <th:block th:include="fragments/includes::scripts"></th:block> /*/-->
<script th:src="@{'/js/cardView.js?v='+__${properties.version}__}"></script>
</body>
</html>