<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="properties=${T(org.elpuentesearcy.configuration.Properties).get()}, uri=${T(org.elpuentesearcy.controller.ServicesController).URL_BASE}">
<head>
   <th:block th:include="fragments/includes::head(${uri})"></th:block>
   <link rel="stylesheet" th:href="@{'/css/cardColumns.css?v='+__${properties.version}__}">
   <link rel="stylesheet" th:href="@{'/css/cardView.css?v='+__${properties.version}__}">

   <title th:text="#{services.title}">Title</title>
   <!--<meta property="og:url" content="">-->
   <meta property="og:title" th:content="#{services.title}">
   <meta property="og:description" th:content="#{services.description}">
</head>
<body>
<i th:replace="fragments/navbar::header(#{services.navlink})"></i>
<main role="main">
   <i layout:replace="~{layouts/info::banner(#{services.navlink}, ${uri})}"></i>
   <i th:replace="fragments/sectionHeader::bannerText(#{services.description})"></i>

   <i layout:replace="~{layouts/info::cardView}">
      <div layout:fragment="cards">
         <div class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fa-id-card', label=#{services.idCards.label}, description=#{services.idCards.description}"></div>
         <div class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fa-user-friends', label=#{services.interpretations.label}, description=#{services.interpretations.description}"></div>
         <div class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fa-copy', label=#{services.translations.label}, description=#{services.translations.description}"></div>
         <div class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fa-file-invoice', label=#{services.documents.label}, description=#{services.documents.description}"></div>
         <div class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fa-stethoscope', label=#{services.healthcare.label}, description=#{services.healthcare.description}"></div>
         <div class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fa-smile-beam', label=#{services.counseling.label}, description=#{services.counseling.description}"></div>
         <div class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fa-briefcase', label=#{services.job.label}, description=#{services.job.description}"></div>
         <div class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fa-home', label=#{services.housing.label}, description=#{services.housing.description}"></div>
         <div class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fa-certificate', label=#{services.notary.label}, description=#{services.notary.description}"></div>
         <div class="pt-1" layout:insert="~{layouts/info::card}" th:with="fontawesomeClass='fa-file-signature', label=#{services.selectiveService.label}, description=#{services.selectiveService.description}"></div>
      </div>
   </i>

   <i th:replace="fragments/footer::footer(#{services.navlink})"></i>
</main>

<!--/*/ <th:block th:include="fragments/includes::scripts"></th:block> /*/-->
<script th:src="@{'/js/cardView.js?v='+__${properties.version}__}"></script>
</body>
</html>