<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
   <!--/*/ <th:block th:include="fragments/includes::head"></th:block> /*/-->

   <title th:text="#{titles.submitRequest}">Title</title>
</head>
<body>
<main role="main">
   <div class="container">
      <div th:replace="fragments/navbar::header">
         Header
      </div>

      <div class="text-center">
         <h1 th:text="#{labels.test}">Beta</h1>
         <iframe th:src="'https://docs.google.com/forms/d/e/1FAIpQLScuYV0CMvL30BWD6YVKvx6ppN0XljZTItC7VNmCjdgb1xrkRg/viewform?embedded=true&hl='+${#locale.language}" width="640" height="500" frameborder="0" marginheight="0" marginwidth="0" th:text="#{labels.loading}+'...'">Loading...</iframe>
      </div>
   </div>

   <footer th:insert="fragments/footer::footer" th:remove="tag">
      Footer
   </footer>
</main>

<!--/*/ <th:block th:include="fragments/includes::scripts"></th:block> /*/-->
</body>